/*=== BACKGROUND IMAGE COVER ===*/
@mixin background-cover {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*=== BORDER RADIUS ===*/
@mixin border-radius($radius) {
    -webkit-border-radius:$radius;
    -moz-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}

/*=== TRANSFORM ROTATE ===*/
@mixin transformRotate ($number) {
    -ms-transform: rotate($number);
    -webkit-transform: rotate($number);
    transform: rotate($number);
}

/*=== BOX-SHADOW ===*/
@mixin box-shadow($left, $top, $blur, $Spread, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $left $top $blur $Spread $color;
    -moz-box-shadow:inset $left $top $blur $Spread $color;
    box-shadow:inset $left $top $blur $Spread $color;
  } @else {
    -webkit-box-shadow: $left $top $blur $Spread $color;
    -moz-box-shadow: $left $top $blur $Spread $color;
    box-shadow: $left $top $blur $Spread $color;
  }
}

